
  <div class="container">
   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Interative", '#', id: "logo" %>

        <nav>
          <ul class="nav navbar-nav navbar-right class">

              <li><%= link_to "Perfil", test_path %></li>
            
              <li><%= link_to "inicio",  "#" %></li>
         
             <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            
            <%end%>
          </ul>
        </nav>
         <%= yield %>
      </div>
    </header>
    
     
    </div>
<h1>VISTA DEL USUARIO </h1>

<h2><%= @user.email %></h2>


<body>
    <div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <center><div class="carousel-inner" role="listbox">
      <div class="item active">
      <%= image_tag("fot/1.jpg", width:"500px", height:"500px")%></div>

      <div class="item">
        <%= image_tag("fot/2.jpg", width:"300px", height:"300px")%>
      </div>
    
      <div class="item">
        <%= image_tag("fot/3.jpg", width:"500px", height:"500px")%>
      </div>

      <div class="item">
       <%= image_tag("fot/index.png", width:"500px", height:"500px")%>
      </div>
    </div></center>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 
</body>
  

    <%= form_for :article, url: test_path do |f| %>
       
      <%= form_for :post do |f| %>
            
        <p>
          <%= f.label :text %><br>
          <%= f.text_area :text %>
        </p>
       
        <p>
          <%= f.submit %>
        </p>
    <% end %>

 <% end %>

